/* BODY*/
body {
  font-family: "Roboto";
  margin: 0;
  background-image: url(../images/70_backgroundphoto.png);
  z-index: 10;
}

.textwithBGcolor {
  background-color: rgba(227, 216, 172, 0.6);  
  border-radius: 10px;
}

/* BACKGROUND IMAGE */
.background {
  position: relative;
}

.background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0, 10);
  /* Adjust the alpha value between 0 and 1 */
}

/* HEADER AND MAIN LOGO */
header {
  position: sticky;
  text-align: center;
  background-color: blanchedalmond;
  height: 100px;
  background: linear-gradient(green, white);
}

.nurserie  {
  font-family: "Dancing Script", cursive;
  font-size: 35px;
  color: black;
  /* font-family: 'Roboto', sans-serif; */
}

h1 {
  margin-top: 10px;
  color: white;
  font: white;
}

h2 {
  color: white;
  font: white;
  text-align: center;
}

.logo {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  left: 20px;
  padding: 0;
  transform: scale(1.2);
}

/* NAVIGATION BAR and BUTTONS */
.navcontainer {
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
  background-color: green;
}

.navbutton {
  font-size: 15px;
  text-decoration: none;
  padding-left: 3px;
  padding-right: 3px;
  color: white;
}

.navbutton:hover,
.moncompte:hover,
.panier:hover {
  background-color: darkgreen;
  color: white;
}

.moncompte {
  position: absolute;
  right: 20px;
  top: 20px;
  text-decoration: none;
  color: black;
}

.moncomptelogo {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 20px;
  right: 120px;
}

.panier {
  position: absolute;
  right: 20px;
  top: 50px;
  text-decoration: none;
  color: black;
}

.monpanierlogo {
  position: absolute;
  top: 50px;
  right: 71px;
  width: 18px;
  height: 18px;
}

/* MAIN DIV */
main {
  margin-left: 10%;
  margin-right: 10%;
  text-align: justify;
  background: rgba(232, 232, 232, 0, 5);
}

/* PAGE POTAGER */

h2 {
  color: white;
  font: white;
}

.cartelegume {
  box-shadow: 2px 10px 12px lightgray;
}

/* javascript - looping on a class */
.defmodal {
    text-align: justify;
}

.modalsubtitle {
    text-align: justify;
    font-weight: bold;
}

/* flexbox container on HTML */
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: auto;
  text-align: center;
  border: 2px white;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

.cartelegume {
  width: 120px;
  height: 130px;
  margin: 5px;
  border: 2px solid white;
  border-radius: 10px;
  background-color: #e3d8ac;
  font-size: 14px;
}

.cartelegume:hover {
  color: white;
  background-color: green;
  transition: ease-in;
}

.cartephoto:hover {
  height: 100px;
  width: 100px;
}

/* images of all crops */
img {
  width: 70px;
  height: 70px;
  border-radius: 8px;
}

/* table of association */
th {
  background-color: burlywood;
  column-rule: white;
  border: 1px solid lightgrey;
  font-size: 13px;
  margin: 0;
  border-spacing: 1px;
  background-color: green;
  color: white;
  border-collapse: collapse;
  table-layout:auto;
  }

table,
td,
tr {
  border: 2px solid rgb(0, 0, 0);
  font-size: 13px;
  margin: 0px;
  border-spacing: 0px;
  background-color: white;
  border-collapse: collapse;
  table-layout:auto;
  padding: 5px 5px;
  }

.mois {
  width: 20px;
  text-align: center;
}

/* MODAL */

.btn-primary {
  background-color: white !important;
  color: black !important;
  /* border-color: 1px white solid 1px !important; */
  border: 1px white solid !important;
}

/* PAGE REALISATIONS */

.realisations_container {
  display: flex;
  margin-top: 60px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.realisation {
  width: 400px;
  height: 300px;
  margin-left: 20px;
  margin-right: 20px;
  border: white solid 2px;
  
}

.realisation_caption {
  padding: 20px;
}

/* PAGE ACCUEIL */

.h2_accueil {
  text-align: center;
  /* font-weight: bold; */
  color: black;
}

.p_accueil {
  background-color: antiquewhite;
  border-radius: 10px;
}
/* texte accueil page réalisations */
.texte_réalisations {
  background-color: antiquewhite;
  border-radius: 10px;
}

.accueil_parag {
  background-color: white;
  border-radius: 10px;
}

.accueil_container {
  display: flex;
  /* margin-top: -50px; */
  justify-content: space-evenly;
  text-decoration: none;
}

.accueil_container2 {
  display: flex;
  /* margin-top: 10px; */
  justify-content: space-evenly;
  text-decoration: none;
}

.image_container1 {
  width: 400px;
  height: 200px;
  overflow: hidden;
  background-image: url(https://media.gettyimages.com/photos/senior-gardener-gardening-in-his-permaculture-organic-garden-picture-id1181508899);
  /* background-image:url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/A_black_image.jpg/1600px-A_black_image.jpg?20201103073518); */
  background-position: 40% 60%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  margin: 0;
  opacity: 1;
  border: whitesmoke solid 2px;
}

.image_container1:hover,
.image_container2:hover,
.image_container3:hover,
.image_container4:hover {
  /* opacity: 30%; */
  filter: blur(5px);
}

.accueil_text:hover + .image_container1 {
  filter: blur(5px);
}

.accueil_text:hover + .image_container2 {
  filter: blur(5px);
}

.accueil_text:hover + .image_container3 {
  filter: blur(5px);
}

.accueil_text:hover + .image_container4 {
  filter: blur(5px);
}

.image_container2 {
  width: 400px;
  height: 200px;
  overflow: hidden;
  background-image: url(https://images.unsplash.com/photo-1492496913980-501348b61469?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1587&q=80);
  /* background-image:url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/A_black_image.jpg/1600px-A_black_image.jpg?20201103073518); */
  background-position: 40% 60%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  margin-bottom: 10px;
  opacity: 100%;
  border: whitesmoke solid 2px;
}

.image_container3 {
  width: 400px;
  height: 200px;
  overflow: hidden;
  background-image: url(../images/realisations.jpg);
  /* background-image:url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/A_black_image.jpg/1600px-A_black_image.jpg?20201103073518); */
  background-position: 40% 60%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  margin-bottom: 10px;
  opacity: 100%;
  border: whitesmoke solid 2px;
}

.image_container4 {
  width: 400px;
  height: 200px;
  overflow: hidden;
  background-image: url(../images/Boutique3.jpg);
  /* background-image:url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/A_black_image.jpg/1600px-A_black_image.jpg?20201103073518); */
  background-position: 40% 60%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  margin-bottom: 10px;
  opacity: 100%;
  border: whitesmoke solid 2px;
}

.accueil_card {
  width: 400px;
  height: 200px;
  overflow: hidden;
  margin-left: 30px;
  margin-right: 30px;
  text-decoration: none;
  /* clip-path: inset(50px); */
}

.accueil_boxincontainer {
  text-decoration: none;
  /* height: fit-content; */
  /* overflow: hidden; */
  /* height: 200px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* box-shadow: 2px 10px 12px lightgray; */
}

.accueil_boxincontainer:hover {
  text-decoration: none;
  transform: scale(1.2);
  /* filter: blur(4px); */
}

.accueil_card_potager {
  width: 400px;
  /* height: 200px; */
  margin-left: 30px;
  margin-right: 30px;
  text-decoration: none;
}

.accueil_card:hover {
  opacity: 0.8;
}

.accueil_caption {
  padding: 20px;
  text-decoration: none;
}

.accueil_text {
  position: relative;
  top: 140px;
  /* align-self: center; */
  z-index: 99;
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
}

.accueil_text4 {
  position: relative;
  top: 140px;
  color: chocolate;
  font-size: 40px;
  z-index: 99;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

/* .accueil_text:hover {
    transform: scale(1.2);
} */

.accueil_text3 {
  color: black;
  font: black;
}

.accueil_text:link,
.accueil_text:visited,
.accueil_text:hover,
.accueil_text:active {
  text-decoration: none;
  color: white;
}

.permaculture_box {
  text-decoration: none;
}

/* PAGE PERMACULTURE */
.permaculture_body_background {
  background-image: url(https://images.unsplash.com/photo-1529313780224-1a12b68bed16?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80);
}
/* Dimentions image étape 1 - observer terrain */
.img_étape1 {
  width: auto;
  height: 300px;
}

/* Dimentions image étape 2 - conception jardin */
.img_étape2 {
  width: auto;
  height: 300px;
}

/* Dimentions image étape 3 - gestion eau */
.img_étape3 {
  float: right;
  width: auto;
  height: 250px;
}

/* Dimentions image étape 4 - préparation terre */
.img_étape4 {
  float: right;
  width: auto;
  height: 300px;
}

/* Dimentions image étape 5 - moment de planter*/
.img_étape5 {
  width: auto;
  height: 200px;
}

/* Dimentions image étape 6 - moment de planter*/
.img_étape6 {
  float: right;
  width: auto;
  height: 200px;
}

.permaculturephoto {
    width: 700px !important;
    height: 300px !important;
}

.permaculturephoto3 {
    width: 300px !important;
    height: 200px !important;
}

.permaculturephoto6 {
    width: 300px !important;
    height: 200px !important;
}

/* accordion buttons from bootstrap */
.accordion-button:not(.collapsed) {
  background-color: lightgreen !important;
}

/* FOOTER */
footer {
  background-color: lightgray;
  /* display: table-row; */
  /* height: 0; */
  height: 120px;
  margin-top: 50px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 0;
  background: linear-gradient(green, white);
}

.socmed_flexbox {
  display: flexbox;
  justify-content: space-evenly;
  text-align: center;
}

.socmed_logo {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.footer_links {
  display: flex;
  justify-content: space-evenly;
}

.footer_flexbox {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.droits {
  display: inline;
}

.navbuttonfooter {
  font-size: 15px;
  /*background-color:burlywood;
    border: 1px solid white;
    border-radius: 3px;      */
  text-decoration: none;
  padding-left: 3px;
  padding-right: 3px;
  color: black;
  margin-left: 30px;
}

.navbuttonfooter:hover,
.navbuttonfooter:hover,
.navbuttonfooter:hover {
  background-color: darkgreen;
  color: white;
}

/* PAGE CONTACT */

.contactlogo {
  height: 200px;
  width: 200px;
  display: block;
  margin-left: auto;
  /* margin-right: ; */
  /* width: 50%; */
}



/* PAGE BOUTIQUE */

.boutiquetexte {
  text-align: justify;
}

/* PAGE PANIER */

.productbought {
  height: 380px;
  width: 300px;
  border: lightgray solid 1px;
  border-radius: 10px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: 2px 10px 12px lightgray;
}

.panierimage {
  height: 250px;
  width: 250px;
}

.paniertitle {
  background-color: burlywood;
  border-radius: 8px;
}